@charset "UTF-8";

* {background-color: white;
   
    
}


 div{
    display: inline-block;
    border: 1px solid;
    width: 100px;
    height: 100px;
    
 }

 .amarelo{
    background-color:yellow;
    
 }

 .vermelho{
   background-color: red;
 }
.azul{ background-color: blue;
   border: 1px solid black;
        
}

.azul:hover{
   background-color: black;
}
.verde{
   background-color: green;
}

.laranja{
   background-color: orange;
}

